.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-self: auto;
  align-items: center;
  margin-top: -100px;
  margin-bottom: -100px;
  margin-left: -200px;
}

.left1 {
  position: relative;
  left: 70px;
  bottom: 110px;
}

.left2 {
  position: relative;
  left: 28px;
  bottom: 100px;
}

.left3 {
  position: relative;
  left: 70px;
  bottom: 95px;
}
.centerleft {
  position: relative;
  top: 155px;
  left: 275px;
}
.centerright {
  position: relative;
  bottom: 20px;
  right: -70px;
}

.rightlines {
  position: relative;
  left: 54px;
}
.right1 {
  position: relative;
  top: 40px;
  right: 20px;
}
.right2 {
  position: relative;
  top: 15px;
  left: 30px;
}
.right3 {
  position: relative;
  top: 0px;
  right: 15px;
}
.right4 {
  position: relative;
  bottom: 20px;
  left: 30px;
}
.right5 {
  position: relative;
  bottom: 40px;
  right: 30px;
}

.icon1 {
  position: relative;
  left: -185px;
  bottom: 80px;
}
.icon2 {
  position: relative;
  left: -210px;
  bottom: 20px;
}
.icon3 {
  position: relative;
  left: -190px;
  bottom: 20px;
}
.icon4 {
  position: relative;
  left: -215px;
  bottom: 80px;
}
